<form action="">
    <div class="form-group">
      <label for="">Name</label>
      <input [(ngModel)]="name" type="text" class="form-control" name="name" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
      <label for="">Msg</label>
      <input [(ngModel)]="msg" type="text" class="form-control" name="msg" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <button type="button" class="btn btn-primary" (click)="onPush()">Push</button>
  </form>
  <div *ngIf="msgs.length > 0">
    {{msgs | json}}
  </div>
